._tr_automation-controller {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999;
  width: 400px;
  height: 600px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px 0 #eee;
  background: rgba(0, 0, 0, .3);
  transform: scale(.25);
  transition: .4s ease-out;
  transform-origin: left bottom;
}
._tr_automation-controller:after {
  content: 'hover';
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-40%, -50%) scale(8);
  font-size: 16px;
  color: #ccc;
}
._tr_automation-controller:hover {
  transform: scale(1);
  background: rgba(255, 255, 255, 1);
}
._tr_automation-controller:hover:after {
  display: none;
}
._tr_automation-controller h3 {
  font-size: 12px;
  font-weight: bolder;
}